<!DOCTYPE html>
<html lang="es">

 <%- include('../partials/head.ejs', {style : 'general', stylemain : 'detail'})  %>

 <body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
        <nav class="breadcrumb">
            <a href="#">Remeras</a> &gt; 
            <a href="#">Mujer</a> &gt; 
            <span><%=modelFound.name%></span>

        </nav>
        <div class="detalle-producto-container">
            <!-- <aside class="miniaturas">
                <button class="flecha-arriba">&#9650;</button>
                <ul>
                    <li><img src="/imgs/products/img_default.jpg" alt="Miniatura 1"></li>
                    <li><img src="/imgs/products/img_default.jpg" alt="Miniatura 2"></li>
                    <li><img src="/imgs/products/img_default.jpg" alt="Miniatura 3"></li>
                    <li><img src="/imgs/products/img_default.jpg" alt="Miniatura 4"></li>
                </ul>
                <button class="flecha-abajo">&#9660;</button>
            </aside> -->
            
            <div class="foto-principal">
                <img src="/imgs/products/<%=modelFound.image%>" alt="Foto del Producto">
                
            </div>
            <section class="info-producto">
                <h1><%=modelFound.name%></h1>
                <p class="precio">$<%=modelFound.price%> ARG</p>
                <div class="tallas">
                    <label>Selecciona Talla:</label>
                    <div>
                        <button class="talla">S</button>
                        <button class="talla">M</button>
                        <button class="talla">L</button>
                    </div>
                </div>
                <div class="colores">
                    <label>Selecciona Color:</label>
                    <div>
                        <button class="color" style="background:#000;"></button>
                        <button class="color" style="background:#fff; border:1px solid #ccc;"></button>
                        <button class="color" style="background:#f0c;"></button>
                        <button class="color" style="background:#00f;"></button>
                        <button class="color" style="background:#fa0;"></button>
                    </div>
                </div>
                <button class="btn-carrito">Añadir al Carrito</button>
                <div class="descripcion">
                    <p><strong>Descripción del Producto:</strong><br>
                     <%=modelFound.description%> </p>
                    <p><strong>Materiales:</strong> 80% algodón, 20% elastano.</p>
                </div>
            </section>
        </div>
  <!--     <section class="productos-relacionados">
            <h2>Productos Relacionados:</h2>
            <div class="relacionados-lista">
                <div class="relacionado">
                    <img src="/imgs/img_default.jpg" alt="Foto Producto">
                    <p>Remera X<br>$0000 ARG</p>
                    <span class="corazon">&#9829;</span>
                </div>
                <div class="relacionado">
                    <img src="/img/img_default.jpg" alt="Foto Producto">
                    <p>Remera X<br>$0000 ARG</p>
                    <span class="corazon">&#9829;</span>
                </div>
                <div class="relacionado">
                    <img src="/imgs/img_default.jpg" alt="Foto Producto">
                    <p>Remera X<br>$0000 ARG</p>
                    <span class="corazon">&#9829;</span>
                </div>
                <div class="relacionado">
                    <img src="/imgs/img_default.jpg" alt="Foto Producto">
                    <p>Remera X<br>$0000 ARG</p>
                    <span class="corazon">&#9829;</span>
                </div>
            </div>
        </section> -->
    </main>

     <%- include('../partials/footer.ejs') %>

</body>
</html>